* {
    margin: 0;
    padding: 0;
}


#navbar.navbar-light.bg-transparent {
    background-color: transparent !important;
}

#navbar.navbar-light.bg-dark {
    background-color: #000 !important;
}

.navbar-brand h1{
    text-transform: uppercase;
}

.nav-link{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

#navbar .navbar-nav .contact-link {
    background-color: transparent;
    border: 1px solid white;
    
}

#navbar .navbar-nav .contact-link {
    background-color: transparent;
    border: 1px solid white;
}

@media (max-width: 768px) {
    #navbar.navbar-light.bg-transparent {
        background-color: #A8A8A7 !important;
        color: #fff;
    }
}